input {
    width: 100px;
}

#squares_container {
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: yellow;
}

.square.higher {
    background-color: lime;
}

.square.lower {
    background-color: gray;
}