* {
    font-family: Arial, Helvetica, sans-serif;
}

#prices {
    display: block;
    margin-bottom: 10px;
}

#result {
    margin-top: 10px;
    margin-bottom: 0;
}

#budget_alert {
    margin-top: 10px;
    display: none;
    font-size: 30px;
    color: red;
}