body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.lamp {
    border: solid;
    border-radius: 100%;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    width: 200px;
    height: 200px;
}

.on {
    background-color: yellow;
    box-shadow: 0 0 50px yellow;
}