* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#counter {
    font-size: 10rem;
    margin: 0;
    font-weight: normal;
}

#counter.positive {
    color: lime;
}

#counter.negative {
    color: red;
}

#counter.bold {
    font-weight: bold;
}